<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- Add language form-->
    <form method="post" action="/languages/add">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="dictionaryUrl">Dictionary</label>
        <input type="text" name="dictionaryUrl" id="dictionaryUrl" />
        <label for="shouldShowSpaces">Show spaces</label>
        <input type="checkbox" name="shouldShowSpaces" id="shouldShowSpaces" />

        <button type="submit">Add</button>
    </form>
  </body>
</html>