<!DOCTYPE html>
<html>
  <head>
    <title><%= index.title %></title>
  </head>
  <body>
    <h1><%= index.title %></h1>
    <% for (var i = 0; i < index.links.length; i++) { %>
        <a href="<%= index.links[i].url %>"><%= index.links[i].name %></a><br>
    <% } %>
  </body>
</html>