<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href = '/languages/add'>Add language</a>
    <% for (var i = 0; i < languages.length; i++) { %>
        <p><%= languages[i].name %></p>
    <% } %>
  </body>
</html>